version: "1.0"
services:
  frontend:
    image: paperless:nginx
    build:
      dockerfile: ui/Dockerfile
    ports:
      - "8080:80"
  backend:
    image: paperless:openjdk
    build:
      dockerfile: Dockerfile
    ports:
      - "8088:8088"
    depends_on:
      minio:
        condition: service_started
      rabbitmq:
        condition: service_started
      persistence:
        condition: service_healthy
  persistence:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - paperless_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: paperless_db
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "paperless"]
      interval: 10s
      timeout: 5s
      retries: 20
  rabbitmq:
    image: rabbitmq:3.12.8-management
    container_name: paperless-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=paperless
      - RABBITMQ_DEFAULT_PASS=paperless
  minio:
    image: minio/minio
    container_name: paperless-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ACCESS_KEY=paperless
      - MINIO_SECRET_KEY=paperless
      - MINIO_CONSOLE_ADDRESS=:9001
    command: server /data
volumes:
  paperless_data: